<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gamerooms</title>
</head>
<body>
<div>
    <div style="position: absolute;">
        <div style="position: relative; top: 18px; left: 18px;"><img src="blackball.png" width ="50" height="50"></div>
    </div>
    <div style="position: absolute;">
        <div style="position: relative; top: 18px; left: 18px;"><img src="whiteball.png" width ="50" height="50"></div>
    </div>
    <img src="board.jpg" width ="500" height="500">
</div>
<img src="board.jpg" width ="500" height="500">
<FORM NAME="Data" ACTION="Odello.py" METHOD="get">
    <div class="Data">
        <div class="row">
            <input type="text" name="x" placeholder=".row Data" maxlength=2>
        </div>
        <div class="col">
            <input type="text" name="y" placeholder=".col Data" maxlength=2>
        </div>
    </div>
    <input type="submit" value="Turn_over">
</FORM>
{%for i in sets%}
    {%for j in i%}
        {%if j==1%}
            <img src="blackball.png" width ="50" height="50" hspace="100" vspace="100">
        {%endif%}
        {%if j==2%}
            <img src="whiteball.png" width ="50" height="50"hspace="100" vspace="100">
        {%endif%}
    {%endfor%}
{%endfor%}


</body>
</html>